.modal {
  width: 60%;
}

.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  display: inline-block;
}

.title {
  color: white;
  text-align: left;
  display: inline-block;
}

.location {
  color: white;
  text-align: right;
  display: inline-block;
}

p {
  margin-inline-start: 1em;
}